.icon1{
    float: right;
}
.label-font{
    font-weight: bold;
    color: midnightblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card-text{
    background-color: rgb(5, 100, 129);
    color: white;
   border: lightslategray;
   border-radius: 10px;
   
}
ion-segment-button{
    background-color: rgb(200, 211, 245);
    margin: 10px;
}
