<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Daily Routine</ion-title>
  </ion-toolbar>
  <ion-segment mode="ios" [(ngModel)]="tab" lines="none">
    <ion-segment-button mode="ios" value="add">
        <ion-label>
          <ion-icon slot="start" name="add"  size="small" color="primary"></ion-icon>
           Add
        </ion-label>
    </ion-segment-button>
    <ion-segment-button mode="ios" value="view">
        <ion-label>
          <ion-icon  name="eye"  size="small" color="primary"></ion-icon>
         View     
        </ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <div class="tab_content" [ngSwitch]="tab">
    <ion-list lines="none" *ngSwitchCase="'add'">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-card class="card">
              <ion-card-header>
                <ion-card-title>WakeUp Time
                  <ion-icon class="icon" name="timer-sharp"  size="large" color="primary"></ion-icon>
                </ion-card-title>
                <span>Every Day</span>
              </ion-card-header>
            
              <ion-card-content>
                <ion-row>
                  <ion-col size="4">
                    <ion-datetime displayFormat="HH:mm a" placeholder="Up Time"></ion-datetime>
                  </ion-col>
                  <ion-col size="4">
                    <ion-select placeholder="Hours"  interface="popover">
                      <ion-select-option value="5">5 Hours</ion-select-option>
                      <ion-select-option value="8">8 Hours</ion-select-option>
                    </ion-select>
                  </ion-col>
                  <ion-col size="4" class="status">
                    <ion-chip outline color="tertiary" size="2">
                      <ion-label>Check</ion-label>&nbsp;
                      <ion-checkbox class="status" size="small"></ion-checkbox> 
                    </ion-chip>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
          
          <ion-col size="12">
            <ion-card class="card">
              <ion-card-header>
                <ion-card-title>Breakfsat
                  <ion-icon name="restaurant" class="icon"  size="large" color="primary"></ion-icon>

                </ion-card-title>
                <span>Every Day</span>
              </ion-card-header>
            
              <ion-card-content>
                <ion-row>
                  <ion-col size="4">
                    <ion-datetime displayFormat="HH:mm a" placeholder="Up Time"></ion-datetime>
                  </ion-col>
                  <ion-col size="4">
                    <ion-select placeholder="Hours"  interface="popover">
                      <ion-select-option value="5">5 Hours</ion-select-option>
                      <ion-select-option value="8">8 Hours</ion-select-option>
                    </ion-select>
                  </ion-col>
                  <ion-col size="4" class="status">
                    <ion-chip outline color="tertiary" size="2">
                      <ion-label>Check</ion-label>&nbsp;
                      <ion-checkbox class="status" size="small" ></ion-checkbox> 
                    </ion-chip>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12">
            <ion-card class="card">
              <ion-card-header>
                <ion-card-title>Lunch    
                  <ion-icon name="restaurant" class="icon"  size="large" color="primary"></ion-icon>
                </ion-card-title>
                <span>Every Day</span>
              </ion-card-header>
            
              <ion-card-content>
                <ion-row>
                  <ion-col size="4">
                    <ion-datetime displayFormat="HH:mm a" placeholder="Up Time"></ion-datetime>
                  </ion-col>
                  <ion-col size="4">
                    <ion-select placeholder="Hours"  interface="popover">
                      <ion-select-option value="5">5 Hours</ion-select-option>
                      <ion-select-option value="8">8 Hours</ion-select-option>
                    </ion-select>
                  </ion-col>
                  <ion-col size="4" class="status">
                    <ion-chip outline color="tertiary" size="2">
                      <ion-label>Check</ion-label>&nbsp;
                      <ion-checkbox class="status" size="small" ></ion-checkbox> 
                    </ion-chip>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12">
            <ion-card class="card">
              <ion-card-header>
                <ion-card-title>Excersize
                  <ion-icon name="walk" class="icon"  size="large" color="primary"></ion-icon>
                </ion-card-title>
                <span>Every Day</span>
              </ion-card-header>
            
              <ion-card-content>
                <ion-row>
                  <ion-col size="4">
                    <ion-datetime displayFormat="HH:mm a" placeholder="Up Time"></ion-datetime>
                  </ion-col>
                  <ion-col size="4">
                    <ion-select placeholder="Hours"  interface="popover">
                      <ion-select-option value="5">5 Hours</ion-select-option>
                      <ion-select-option value="8">8 Hours</ion-select-option>
                    </ion-select>
                  </ion-col>
                  <ion-col size="4" class="status">
                    <ion-chip outline color="tertiary" size="2">
                      <ion-label>Check</ion-label>&nbsp;
                      <ion-checkbox class="status" size="small" ></ion-checkbox> 
                    </ion-chip>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col size="12">
            <ion-card class="card">
              <ion-card-header>
                <ion-card-title>Reading
                  <ion-icon name="book" class="icon"  size="large" color="primary"></ion-icon>
                </ion-card-title>
                <span>Every Day</span>
              </ion-card-header>
            
              <ion-card-content>
                <ion-row>
                  <ion-col size="4">
                    <ion-datetime displayFormat="HH:mm a" placeholder="Up Time"></ion-datetime>
                  </ion-col>
                  <ion-col size="4">
                    <ion-select placeholder="Hours"  interface="popover">
                      <ion-select-option value="5">5 Hours</ion-select-option>
                      <ion-select-option value="8">8 Hours</ion-select-option>
                    </ion-select>
                  </ion-col>
                  <ion-col size="4" class="status">
                    <ion-chip outline color="tertiary" size="2">
                      <ion-label>Check</ion-label>&nbsp;
                      <ion-checkbox class="status" size="small" ></ion-checkbox> 
                    </ion-chip>
                  </ion-col>
                </ion-row>
              </ion-card-content>
            </ion-card>
          </ion-col>
          
        </ion-row>
      </ion-grid>
    </ion-list>
    <ion-list lines="none" *ngSwitchCase="'view'">

    </ion-list>
  </div>
</ion-content>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">  
  <ion-fab-button>  
    <ion-icon name="add"></ion-icon>  
  </ion-fab-button>  
</ion-fab> 