<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="person-circle-outline" size="large" (click)="profile()"></ion-icon>
    </ion-buttons>
    <ion-title>To-Do-List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card class="card">
          <ion-card-header>
            <ion-card-title>To Do 1
              <ion-icon class="icon" name="add-circle"  size="dark" color="secondary"></ion-icon>
              <ion-button class="icon1" outline color="dark" size="small" >
                <!-- <ion-label>Notify</ion-label>&nbsp; -->
                <ion-icon name="notifications-outline"></ion-icon>
              </ion-button>
            </ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <ion-row>
              <ion-col size="5">
                <ion-input type="time"></ion-input>
              </ion-col>
              <ion-col size="3.5">
                <ion-select placeholder="Hours"  interface="popover">
                  <ion-select-option value="5">5</ion-select-option>
                  <ion-select-option value="8">8</ion-select-option>
                </ion-select>
              </ion-col>
              <ion-col size="3.5" class="status">
                <ion-chip outline color="dark" size="2">
                  <ion-label>Check</ion-label>&nbsp;
                  <ion-checkbox class="status" size="small"></ion-checkbox> 
                </ion-chip>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="3.5">
                <ion-chip outline color="danger" size="2" (click)="urgent()">
                  <ion-label>Urgent</ion-label>
                </ion-chip>
              </ion-col>
              <ion-col size="4.5">
                <ion-chip outline color="success" size="2" (click)="urgent()">
                  <ion-label>Inmportant</ion-label>
                </ion-chip>
              </ion-col>
              <ion-col size="4">
                <ion-chip outline color="warning" size="2" (click)="urgent()">
                  <ion-label>Urgent & Inmportant</ion-label>
                </ion-chip>
              </ion-col>
            </ion-row>

          </ion-card-content>
        </ion-card>
      </ion-col>
      
      <ion-col size="12">
        <ion-card class="card">
          <ion-card-header>
            <ion-card-title>To Do 2
              <ion-icon class="icon" name="add-circle"  size="dark" color="secondary"></ion-icon>
              <ion-button class="icon1" outline color="dark" size="small" >
                <!-- <ion-label>Notify</ion-label>&nbsp; -->
                <ion-icon name="notifications-outline"></ion-icon>
              </ion-button>
            </ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <ion-row>
              <ion-col size="5">
                <ion-input type="time"></ion-input>
              </ion-col>
              <ion-col size="3.5">
                <ion-select placeholder="Hours"  interface="popover">
                  <ion-select-option value="5">5</ion-select-option>
                  <ion-select-option value="8">8</ion-select-option>
                </ion-select>
              </ion-col>
              <ion-col size="3.5" class="status">
                <ion-chip outline color="dark" size="2">
                  <ion-label>Check</ion-label>&nbsp;
                  <ion-checkbox class="status" size="small"></ion-checkbox> 
                </ion-chip>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="3.5">
                <ion-chip outline color="danger" size="2" (click)="urgent()">
                  <ion-label>Urgent</ion-label>
                </ion-chip>
              </ion-col>
              <ion-col size="4.5">
                <ion-chip outline color="success" size="2" (click)="urgent()">
                  <ion-label>Inmportant</ion-label>
                </ion-chip>
              </ion-col>
              <ion-col size="4">
                <ion-chip outline color="warning" size="2" (click)="urgent()">
                  <ion-label>Urgent & Inmportant</ion-label>
                </ion-chip>
              </ion-col>
            </ion-row>

          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12">
        <ion-card class="card">
          <ion-card-header>
            <ion-card-title>To Do 3
              <ion-icon class="icon" name="add-circle"  size="dark" color="secondary"></ion-icon>
              <ion-button class="icon1" outline color="dark" size="small" >
                <!-- <ion-label>Notify</ion-label>&nbsp; -->
                <ion-icon name="notifications-outline"></ion-icon>
              </ion-button>
            </ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <ion-row>
              <ion-col size="5">
                <ion-input type="time"></ion-input>
              </ion-col>
              <ion-col size="3.5">
                <ion-select placeholder="Hours"  interface="popover">
                  <ion-select-option value="5">5</ion-select-option>
                  <ion-select-option value="8">8</ion-select-option>
                </ion-select>
              </ion-col>
              <ion-col size="3.5" class="status">
                <ion-chip outline color="dark" size="2">
                  <ion-label>Check</ion-label>&nbsp;
                  <ion-checkbox class="status" size="small"></ion-checkbox> 
                </ion-chip>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="3.5">
                <ion-chip outline color="danger" size="2" (click)="urgent()">
                  <ion-label>Urgent</ion-label>
                </ion-chip>
              </ion-col>
              <ion-col size="4.5">
                <ion-chip outline color="success" size="2" (click)="urgent()">
                  <ion-label>Inmportant</ion-label>
                </ion-chip>
              </ion-col>
              <ion-col size="4">
                <ion-chip outline color="warning" size="2" (click)="urgent()">
                  <ion-label>Urgent & Inmportant</ion-label>
                </ion-chip>
              </ion-col>
            </ion-row>

          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12">
        <ion-card class="card">
          <ion-card-header>
            <ion-card-title>To Do 4
              <ion-icon class="icon" name="add-circle"  size="dark" color="secondary"></ion-icon>
              <ion-button class="icon1" outline color="dark" size="small" >
                <!-- <ion-label>Notify</ion-label>&nbsp; -->
                <ion-icon name="notifications-outline"></ion-icon>
              </ion-button>
            </ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <ion-row>
              <ion-col size="5">
                <ion-input type="time"></ion-input>
              </ion-col>
              <ion-col size="3.5">
                <ion-select placeholder="Hours"  interface="popover">
                  <ion-select-option value="5">5</ion-select-option>
                  <ion-select-option value="8">8</ion-select-option>
                </ion-select>
              </ion-col>
              <ion-col size="3.5" class="status">
                <ion-chip outline color="dark" size="2">
                  <ion-label>Check</ion-label>&nbsp;
                  <ion-checkbox class="status" size="small"></ion-checkbox> 
                </ion-chip>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="3.5">
                <ion-chip outline color="danger" size="2" (click)="urgent()">
                  <ion-label>Urgent</ion-label>
                </ion-chip>
              </ion-col>
              <ion-col size="4.5">
                <ion-chip outline color="success" size="2" (click)="urgent()">
                  <ion-label>Inmportant</ion-label>
                </ion-chip>
              </ion-col>
              <ion-col size="4">
                <ion-chip outline color="warning" size="2" (click)="urgent()">
                  <ion-label>Urgent & Inmportant</ion-label>
                </ion-chip>
              </ion-col>
            </ion-row>

          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="12">
        <ion-card class="card">
          <ion-card-header>
            <ion-card-title>To Do 5
              <ion-icon class="icon" name="add-circle"  size="dark" color="secondary"></ion-icon>
              <ion-button class="icon1" outline color="dark" size="small" >
                <!-- <ion-label>Notify</ion-label>&nbsp; -->
                <ion-icon name="notifications-outline"></ion-icon>
              </ion-button>
            </ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <ion-row>
              <ion-col size="5">
                <ion-input type="time"></ion-input>
              </ion-col>
              <ion-col size="3.5">
                <ion-select placeholder="Hours"  interface="popover">
                  <ion-select-option value="5">5</ion-select-option>
                  <ion-select-option value="8">8</ion-select-option>
                </ion-select>
              </ion-col>
              <ion-col size="3.5" class="status">
                <ion-chip outline color="dark" size="2">
                  <ion-label>Check</ion-label>&nbsp;
                  <ion-checkbox class="status" size="small"></ion-checkbox> 
                </ion-chip>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col size="3.5">
                <ion-chip outline color="danger" size="2" (click)="urgent()">
                  <ion-label>Urgent</ion-label>
                </ion-chip>
              </ion-col>
              <ion-col size="4.5">
                <ion-chip outline color="success" size="2" (click)="urgent()">
                  <ion-label>Inmportant</ion-label>
                </ion-chip>
              </ion-col>
              <ion-col size="4">
                <ion-chip outline color="warning" size="2" (click)="urgent()">
                  <ion-label>Urgent & Inmportant</ion-label>
                </ion-chip>
              </ion-col>
            </ion-row>

          </ion-card-content>
        </ion-card>
      </ion-col>
      
    </ion-row>
  </ion-grid>
  
</ion-content>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">  
  <ion-fab-button>  
    <ion-icon name="add"></ion-icon>  
  </ion-fab-button>  
</ion-fab> 
