<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Finance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label >Check For Remind:</ion-label>
          <ion-toggle checked color="secondary" size="large" (onChnage)="remindChecked($event,item)"></ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row class="cards p-0">
      <ion-col size="3" class="img_box center_img">
        <!-- <div > -->
          <img src="assets/images/rent1.jpg" width="103" class="crop_img">
        <!-- </div> -->
      </ion-col>
      <ion-col size="7">
        <div class="ml-3">
        <h4 class="d-flex">Rent</h4>
        </div>
        <ion-item lines="none">
        <ion-icon class="zmdi zmdi-calendar"></ion-icon>
        <ion-datetime displayFormat="MM DD YYYY" placeholder="Date"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size="2" class="ion-text-center icon-notify">
        <ion-icon name="notifications-outline" size="large"></ion-icon>
      </ion-col>
    </ion-row>
    <br>
    <ion-row class="cards p-0">
      <ion-col size="3" class="img_box center_img">
        <!-- <div > -->
          <img src="assets/images/saving.png" width="103" class="crop_img">
        <!-- </div> -->
      </ion-col>
      <ion-col size="7">
        <div class="ml-3">
        <h4 class="d-flex">Saving</h4>
        </div>
        <ion-item lines="none">
        <ion-icon class="zmdi zmdi-calendar"></ion-icon>
        <ion-datetime displayFormat="MM DD YYYY" placeholder="Date"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size="2" class="ion-text-center icon-notify">
        <ion-icon name="notifications-outline" size="large" ></ion-icon>
      </ion-col>
    </ion-row> 
    <br>
    <ion-row class="cards p-0">
      <ion-col size="3" class="img_box center_img">
          <img src="assets/images/Maintanance.jpg" width="103" class="crop_img">
      </ion-col>
      <ion-col size="7">
        <div class="ml-3">
        <h4 class="d-flex">Maintanance</h4>
        </div>
        <ion-item lines="none">
        <ion-icon class="zmdi zmdi-calendar"></ion-icon>
        <ion-datetime displayFormat="MM DD YYYY" placeholder="Date"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col size="2" class="ion-text-center icon-notify">
        <ion-icon name="notifications-outline" size="large"></ion-icon>
      </ion-col>
    </ion-row> 
    <!-- <ion-row>
      <ion-col size="12">
        <ion-card class="card">
          <ion-card-header>
            <ion-card-title>Rent
             </ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <ion-row>
              <ion-col size="8">
                <ion-item>
                  <ion-input  type="date"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="2">
                <ion-button outline color="tertiary" size="small" >
                  <ion-label>Notify</ion-label>&nbsp;
                  <ion-icon name="notifications-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card class="card">
          <ion-card-header>
            <ion-card-title>Saving
            </ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <ion-row>
              <ion-col size="8">
                <ion-item>
                  <ion-input  type="date"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="2">
                <ion-button outline color="tertiary" size="small" >
                  <ion-label>Notify</ion-label>&nbsp;
                  <ion-icon name="notifications-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card class="card">
          <ion-card-header>
            <ion-card-title>Maintanance
            </ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <ion-row>
              <ion-col size="8">
                <ion-item>
                  <ion-input  type="date"></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size="2">
                <ion-button outline color="tertiary" size="small" >
                  <ion-label>Notify</ion-label>&nbsp;
                  <ion-icon name="notifications-outline"></ion-icon>
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row> -->
  </ion-grid>
</ion-content>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">  
  <ion-fab-button>  
    <ion-icon name="add"></ion-icon>  
  </ion-fab-button>  
</ion-fab> 